/* Globais */

/* @media only screen and (max-width: 768px){} */

/* ↑ Responsividade Mobile ↓ */

/* @media only screen and (max-width: 480px){} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;500;700&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
}

.container-logo {
    text-align: center;
    background-color: #FFC107;
}

/* Página Principal */

.banner-home {
    background-image: url("../img/banner-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 30px;
}

.subtitle-home {
    display: flex;
    justify-content: right;
    text-align: left;
    margin: 50px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.receitas-home {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
gap: 80px;
margin-bottom: 100px;
}

.titulo-receitas-home {
    text-align: center;
    font-size: 50px;
    color:#FFA000;
    margin-top: 50px;
    margin-bottom: 60px;
}

.banner-inf-home {
    background-image: url("../img/img-footer-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: #FFF;
    padding-bottom: 400px;
}

.titulo-banner-inf {
    font-size: 55px;
    font-weight: bold;
    padding: 100px 0px 20px 50px;

}

.texto-banner-inf {
    font-size: 24px;
    padding-left: 50px;
    width: 27ch;
}

/* Página Risoto */

nav {
    background-color: #FFA000;
}

.menu {
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline;
    list-style: none;
}

.menu-item-link:hover{
    color: #ffc107;
}

.menu-item-link {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 30px;
}

.risoto-abobora {
    font-size: 50px;
    color: #FFA000;
    margin-top: 107px;
    margin-bottom: 28px;
}

.img-risoto {
    width: 592px;
    height: 311px;
    left: 120px;
}

.main-principal {
    display: flex;
    margin-bottom: 166px;
    margin-left: 120px;
    max-width: 1440px;
    margin: 0 auto;
}

.caracteristica {
    margin-top: 25px;
}

.descricao:hover {
    color: #41b325;
}

.descricao {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #176902;
    display: inline;
    border: 1px solid;
    border-radius: 15px;
    text-decoration: none;
}

.ingredientes {
    font-size: 20px;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: -10px;
}

.receita-risoto {
    font-size: 20px;
}

.texto-video {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 37px;
}

iframe {
    width: 580px;
    height: 317px;
    left: 120px;
    top: 1303px;
    margin-bottom: 35px;
}

.preparo {
    font-weight: bold;
    font-size: 20px;
}

.texto-preparo {
    font-size: 20px;
    width: 592px;
}

aside {
    margin-left: 192px;
    margin-right: 191px;
}

.texto-relacionadas {
    margin-top: 190px;
    color: #FFA000;
    font-size: 30px;

}

.img-relacionadas {
    Width: 345px;
    Height: 342px;
    cursor: pointer;
}

.pratos-relacionados {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    padding: 15px;
    margin-top: -5px;
    cursor: pointer;
}

.footer {
    background-color: #FFC107;
    display: flex;
    color: white;
}

.texto-footer {
    margin-left: 38px;
    padding: 10px;
    margin-top: 25px;
}

/* Página Receitas */

.titulo-receitas {
    margin-left: 160px;
    font-size: 50px;
    color:#FFA000;
    margin-top: 100px;
    margin-bottom: 75px;
}

.todas-receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 80px;
    margin-bottom: 400px;
}

.img-todas-receitas {
    height: 342px;
    width: 345px;
    }

.texto-todas-receitas {
    font-size: 26px;
    font-weight: bold;
}

.botao-conferir {
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #176902;
    color: white;
    cursor: pointer;    
}

/* Página Contato */

.banner {
    background-image: url("../img/img-contato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 30px;
}

.cumprimento {
    margin: 0px;
    padding-left: 6%;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.banner-lateral {
    background-image: url("../img/img-contato-2.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    width: 20%;
    height: 800px;
}

.contato {
    color: #FFC107;
}

.bloco-contato {
    display: flex;
    width: 85%;
    margin: 50px auto;
    gap: 20px;
}

.bloco-contato form {
    border: 1px solid #FFC107;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400%;
    height: 95%;
    padding: 20px;
}

.bloco-contato form * {
    margin: 20px 0;
}

.enviar {
height: 40px;
width: 100px;
    border: none;
    background-color: #FFC107;
    font-weight: bold;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
}

.text-form,
.email-form {
    padding: 10px;
    padding-left: 20px;
    width: 95%;
    border: 1px solid #FFC107;
    border-radius: 5px;
}

.msg-form {   
    padding-top: 10px;
    padding-left: 20px;
    resize: none;
    width: 95%;
    height: 40%;
    border: 1px solid #FFC107;
    border-radius: 5px;
}

@media (max-width: 414px) {
    .banner-lateral {
        display: none;
    }
}